.imnavbar{
	background-color: #6f6fe2;
}
.imbrand{
	font-size: 25pt;
}

#map{
	height: 300px;
}
.col{
	border: 1pt solid red;
}
.row{
	/*border: 1pt solid grey;*/
}

.carousel{
	height: 300px !important;
}
.carousel-inner img{
	height: 250px !important;
	margin: 0 auto;
}



#groups{
	padding-top: 2em;
}

#content{
	padding-top: 2em;
}

#coaches{
	padding-top: 2em;
	text-align: center;
}
.bg-camp{
	background-color: #ffeb3ba6;
	border-radius: 10pt;
}

img{
	display: block;
	height: auto;
	max-width: 100%;
}
#campGeneral{	
}
