
<div class="row pt-4">
  <div class="col item"></div>
  <div class="col item">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">




        {% for mk in master_classes_list %}
            <div class="carousel-item active">
                <div class="card ">
                    <div class="card-header bg-warning text-white">
                        {{mk.date_start}}
                    </div>
                    <div class="card-body text-dark bg-warning">
                        <h6 class="card-title">{{mk.name}}</h6>
                        <p class="card-text">{{mk.description}}</p>
                        {% if auth == 'yes' %}
                            <a class="ard-link text-dark" href="">записаться</a>
                        {% else %}
                            <a class="ard-link text-dark" href="/registration/register">зарегистрироваться</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}

      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col item"></div>
</div>