{% extends "registration/index.html" %}
{% block content %}
<!--comment>
    need data: [
        master_class: {

            }
        ]
</comment-->
<div class="col-2"></div>
<div class="col-6 pt-4">
    <ul>
        {% for mk in master_classes_list %}

                <div class="card ">
                    <div class="card-header mb-2 bg-warning text-white">
                        {{mk.date_start}}
                    </div>
                    <div class="card-body text-dark">
                        <h6 class="card-title">{{mk.name}}</h6>
                        <p class="card-text">{{mk.description}}</p>
                        {% if auth == 'yes' %}
                            <a class="ard-link text-dark" href="">записаться</a>
                        {% else %}
                            <a class="ard-link text-dark" href="/registration/register">зарегистрироваться</a>
                        {% endif %}
                    </div>
                </div>


        {% endfor %}
    </ul>
</div>
{% endblock %}