{% extends "registration/base.html" %}

{% block content %}

<div class="container col-3 pt-4">
    <!--div class="jumbotron"-->

        <form class="form-singin" role="form" method="POST" action="{% url 'registration:user_login' %}">
            <h1 class="form-singin-heading">Login here :</h1>
            <!--label for="username">Username:</label-->
            <input class="form-control" type="text" name="username" placeholder="Email address">

            <!--label for="password">Password:</label-->
            <input class="form-control" type="password" name="password" placeholder="Password">

            <!--input type="submit" name="" value="Login"-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">войти</button>
            {% csrf_token %} <!--не работал если лежал выше-->
        </form>
    <!--/div-->
</div>

{% endblock %}